.tennis-label {
    background-color: #ed511d
}

.football-label {
    background-color: #61b530;
}

.tare2a-switch {
    margin-top: 20px;
    margin-left: 10px;
}

.pitchgrader {
    background-color: #555555;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 40px;
    padding-bottom: 30px;
}